/* color-themes */
.black{
    background-color: var(--black);
    color: var(--white);
}
.dark{
    background-color: var(--dark);
    color: var(--white);
}
.middark{
    background-color: var(--midDark);
    color: var(--white);
}
.midlight{
    background-color: var(--midLight);
    color: var(--dark);
}
.light{
    background-color: var(--light);
    color: var(--black);
}
.white{
    background-color: var(--white);
    color: var(--black);
}
.stk-dark{
    border-color: var(--dark);
}
.stk-mid{
    border-color: var(--midDark);
}
.stk-light{
    border-color: var(--midLight);
}